<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Player</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<h3>Click on Player Name: </h3>

    <!-- *************EXTRA***********
        USING EJS, although we didn't cover this lesson, I found on Google that it's usefull to know this library-->
    <ol>
        <li>
        <a href="./images/Messi.jpeg">Leonel Messi</a>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati suscipit vero, distinctio aliquam cumque incidunt facilis doloribus voluptate dolorum dignissimos cum expedita optio sapiente tempore nobis? Harum culpa tempora eaque!</p></li>
    <li><a href="./images/CR7.jpeg">Cristiano Ronaldo</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae asperiores tenetur ducimus laudantium nulla ipsa amet, maiores totam aut tempora.</p></li>
    <li><a href="./images/ZiZou.jpeg">Zinadine Zidane</a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci reiciendis repudiandae numquam odit enim ad, architecto, aliquid est voluptatem eum fuga delectus incidunt ullam esse. Possimus obcaecati sed quisquam asperiores!</p></li>
    <li><a href="./images/SRamos.jpeg">Sergio Ramos</a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut amet cumque minus, quidem eveniet delectus eius veritatis perspiciatis aspernatur sequi, repellat debitis magni asperiores labore quod animi esse iste voluptates!</p></li>
<li><a href="./images/Iniesta.jpeg">Andrés Iniesta</a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut amet cumque minus, quidem eveniet delectus eius veritatis perspiciatis aspernatur sequi, repellat debitis magni asperiores labore quod animi esse iste voluptates!</p></li>

</ol>
<script>

</script>
</body>
</html>