<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBA-318</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>SBA-318</h1>
    <h3>Express Server Application</h3>
    
    <br>
    <div>
    <h4>Do you want to receive weekly updates about real football?</h4>
         <h5>Subscribe</h5>
    
<label for="text" >Email</label>
<input type="text" placeholder="Type your email" id="email" required>
<label for="text">Password</label>
<input type="password"  id="password" required>
<button type="submit" >Submit</button>

</div>
</body>
</html>